@font-face {
  font-family: 'CircularStd';
  src: url('./font/CircularStd-Black.ttf') format('truetype'),
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'CircularStd';
  margin: 0;
}

#app {
  width: 500px;
}

.nav {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 5%;
  border-bottom: 1px solid #f3f3f3;
}

.title {
  font-size: 14px;
}

.menu {
  margin-left: 20%;
}

.icon {
  display: inline-block;
  height: 56px;
  width: 50px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 2px solid #fff;
}

.icon:hover, .router-link-active {
  border-bottom: 2px solid #649ef7;
}

.icon:nth-of-type(1) {
  background-image: url("./images/pie_chart.png");
}

.icon:nth-of-type(1):hover, .icon:nth-of-type(1).router-link-active {
  background-image: url("./images/pie_chart_hover.png");
}

.icon:nth-of-type(2) {
  background-image: url("./images/app.png");
}

.icon:nth-of-type(2):hover, .icon:nth-of-type(2).router-link-active {
  background-image: url("./images/app_hover.png");
}

.icon:nth-of-type(3) {
  background-image: url("./images/settings.png");
}

.icon:nth-of-type(3):hover, .icon:nth-of-type(3).router-link-active {
  background-image: url("./images/settings_hover.png");
}

.text-center {
  text-align: center;
}

.content {
  padding: 5% 30px;
  min-height: 320px;
  max-height: 420px;
  overflow-y: auto;
  min-width: 350px;
}

.box {
  display: flex;
}

.box.center {
  justify-content: center;
}

.box.middle {
  align-items: center;
  justify-content: space-evenly;
}

.app-list {
  margin-top: 40px;
  width: 100%;
}

.row {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.row > div:first-of-type {
  width: 30%;
  text-transform: capitalize;
}

.table td, .table th {
  padding-left: 10px;
  text-transform: capitalize;
}

.table tr {
  line-height: 40px;
  text-align: left;
}

.row:hover {
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.table td img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #1a7c89;
}

.form > div {
  margin-bottom: 20px;
}

.form input {
  font-size: 14px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  background: none;
}


.input-field label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.input-field input {
  width: 100%;
}

.form input:hover, .form input:focus {
  border: 1px solid #649EF7;
}

.form input:focus, button:focus, .form select:focus {
  outline: none;
}

.form select {
  text-transform: capitalize;
}

.form .multiple {
  height: 100px;
}

.form label {
  margin-right: 20px;
}

.form .minute {
  align-items: center;
  justify-content: space-between;
}

.form .minute input[type="number"] {
  width: 213px;
}

.form input[type="time"] {
  width: 150px;
}

.form input[type="time"]:invalid {
  border-color: #d47272;
}

.action-icon {
  cursor: pointer;
}

.apps-header {
  display: flex;
  justify-content: space-between;
}

.apps-header .action {
  display: flex;
  align-items: center;
}

.btn {
  cursor: pointer;
  border: 1px solid #E0E0E0;
  padding: 0 20px;
  height: 36px;
  border-radius: 5px;
  background: none;
}

.btn:hover {
  background: #F2F2F2;
}

.add {
  width: 36px;
  height: 36px;
  background-image: url('./images/add.png');
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 30px;
  border: 1px solid #649EF7;
  color: #649EF7;
}

.add:hover {
  color: #fff;
  background-image: url('./images/add_hover.png');
  background-color: #649EF7;
  border: 2px solid #2F80ED;
}

.site-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
}

.site-actions * {
  cursor: pointer;
}

.site-actions .edit {
  display: block;
  background: url('./images/edit.png');
  width: 17.99px;
  height: 17.99px;
}

.save {
  background: #649EF7;
  border: 1px solid #2F80ED;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  margin-top: 20px;
}

.save:hover {
  background: #649EF7;
}

.save:disabled {
  cursor: not-allowed;
}

.box.day {
  height: 40px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.day input[type="time"] {
  width: 115px;
}

.day label {
  width: 25%;
  height: 20px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  background: none;
  border: 1px solid #E0E0E0;
}

.checkbox:hover input ~ .checkmark {
  border-color: #2F80ED;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background: #649EF7;
}

.settings {
  align-items: center;
  justify-content: space-between;
}

.settings .theme-buttons {
  width: 284px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
}

.settings .theme-buttons .btn {
  border: none;
  width: 50%;
  border-radius: 0;
}

.settings .theme-buttons .btn:first-of-type {
  border-right: 1px solid #E0E0E0;
}

.settings .theme-buttons .btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}


/** dark mode specific styles **/
.dark-mode {
  background: #1F2024;
  color: #9599B4;
}

.dark-mode .title {
  color: #649EF7;
}

.dark-mode .nav {
  border-color: #404751;
}

.dark-mode .nav .icon {
  border-color: #1F2024;
}

.dark-mode .icon:hover, .dark-mode .icon.router-link-active {
  border-color: #649ef7;
}

.dark-mode .action .btn {
  border-color: #649EF7;
  color: #9599B4;
}

.dark-mode .action .btn:hover {
  color: #FFFFFF;
  background: #649EF7;
}

.dark-mode .app-list .row:hover {
  background: none;
  border: 1px solid #649EF7;
}

.dark-mode .site-actions .edit {
  display: block;
  background: url('./images/edit_dark_mode.png');
}

.dark-mode .form input {
  border: 1px solid #404751;
  color: #9599B4;
}

.dark-mode .form input:hover, .dark-mode .form input:focus {
  border: 1px solid #649EF7;
}

.dark-mode .checkmark {
  border-color: #404751;
}

.dark-mode .settings {
  color: #fff;
}

.dark-mode .theme-buttons {
  border-color: #404751;
}

.dark-mode .theme-buttons .btn {
  color: #fff;
}

.dark-mode .theme-buttons .btn:hover {
  background: none;
  border: 1px solid #649EF7;
}

.dark-mode .settings .theme-buttons .btn:first-of-type {
  border-right: 1px solid #404751;
}
